.godot/

# Compile
bin/
dist/
/android/
publish/
j
.git/
.idea/
.vs/
.DS_Store

# NuGet
Properties/
packages/

*.user

# C#
Directory.Build.props

# Setting
.editorconfig

# Docs
docs/references/WatcherMod

# Godot
*.uid
*.import
